<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449658428178-sog8no3u7f8l314bde3smef00qqc20t3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449658428178-sog8no3u7f8l314bde3smef00qqc20t3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>449658428178-uk0rr03dp3uhgm2b7eet9n00h1v4ooj8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDL1ZzDpovBmRPybOXhg9ArCR1kdTtHiR8</string>
	<key>GCM_SENDER_ID</key>
	<string>449658428178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pnn.kaamQuest</string>
	<key>PROJECT_ID</key>
	<string>kaamquest</string>
	<key>STORAGE_BUCKET</key>
	<string>kaamquest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449658428178:ios:22f3b3275b25f5c7fff1cb</string>
</dict>
</plist>